CMAPSS.txt를 불러오기 위해 기본 경로를 변경한다.

In [2]:
import os
os.chdir('/content/drive/MyDrive/Study/python_studying/pandas/datasets/')

#### txt파일 불러오기 (`read_csv()`)
`read_csv()`로 CMAPSS.txt 파일을 불러온다.

In [6]:
import pandas as pd

data = pd.read_csv('CMAPSS.txt', sep = ' ', header = None, encoding = 'cp949')
data.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735,NaN,NaN
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916,NaN,NaN
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166,NaN,NaN
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737,NaN,NaN
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130,NaN,NaN

- `sep = ' '`는 구분자를 ' '로 한다.
- `header = None`은 Column을 설정하지 않는다.

#### 칼럼 지우기 (`drop()`)
이제 `drop()`함수를 통해 <u>NaN값으로 도배된 Column 26,27</u> 을 지운다.

In [7]:
data.drop([26,27], axis = 1, inplace = True)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,521.72,2388.03,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,522.16,2388.06,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,521.97,2388.03,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,521.38,2388.05,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,522.15,2388.03,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130

- `axis = 1` : Column 방향으로 drop (0이면 row방향)
- `inplace = False` : data에 함수를 적용하지만 반환만 될 뿐 data자체가 바뀌지 않음, 반대로 `inplace = True`인 경우에는 data 자체가 변경됨

#### 칼럼명 지정
숫자로 되어 있는 칼럼명에 이름을 넣어준다.

In [8]:
index_columns = ['UnitNumber', 'Cycle']
op_setting_columns = ['Op_Setting_' + str(i) for i in range(1,4)]
sensor_columns = ['Sensor_' + str(i) for i in range(1,22)]

columns = index_columns + op_setting_columns + sensor_columns
data.columns = columns
data.head()

,UnitNumber,Cycle,Op_Setting_1,Op_Setting_2,Op_Setting_3,Sensor_1,Sensor_2,Sensor_3,Sensor_4,Sensor_5,...,Sensor_12,Sensor_13,Sensor_14,Sensor_15,Sensor_16,Sensor_17,Sensor_18,Sensor_19,Sensor_20,Sensor_21
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,521.72,2388.03,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,522.16,2388.06,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,521.97,2388.03,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,521.38,2388.05,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,522.15,2388.03,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130

#### 특정 칼럼의 요약정보 보기

In [9]:
data[data['UnitNumber'] == 77]

,UnitNumber,Cycle,Op_Setting_1,Op_Setting_2,Op_Setting_3,Sensor_1,Sensor_2,Sensor_3,Sensor_4,Sensor_5,...,Sensor_12,Sensor_13,Sensor_14,Sensor_15,Sensor_16,Sensor_17,Sensor_18,Sensor_19,Sensor_20,Sensor_21
9920,77,1,0.0026,0.0000,100.0,518.67,642.35,1590.20,1397.55,14.62,...,521.95,2388.04,8132.47,8.3977,0.03,391,2388,100.0,39.06,23.4108
9921,77,2,0.0072,-0.0001,100.0,518.67,642.72,1588.72,1396.37,14.62,...,522.30,2388.03,8124.97,8.4087,0.03,392,2388,100.0,38.94,23.2789
9922,77,3,-0.0019,-0.0001,100.0,518.67,642.29,1584.91,1400.60,14.62,...,521.77,2388.01,8136.34,8.4217,0.03,392,2388,100.0,38.89,23.3391
9923,77,4,-0.0022,0.0002,100.0,518.67,642.14,1582.53,1396.51,14.62,...,522.24,2388.08,8131.40,8.4376,0.03,393,2388,100.0,39.03,23.3531
9924,77,5,-0.0016,-0.0001,100.0,518.67,642.38,1584.52,1394.94,14.62,...,522.22,2388.03,8133.44,8.3935,0.03,392,2388,100.0,38.88,23.3224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10077,77,158,0.0044,0.0003,100.0,518.67,642.42,1600.20,1410.99,14.62,...,520.77,2388.20,8128.10,8.4388,0.03,395,2388,100.0,38.82,23.0944
10078,77,159,-0.0014,0.0002,100.0,518.67,642.67,1588.82,1414.82,14.62,...,520.92,2388.22,8127.66,8.4485,0.03,394,2388,100.0,38.68,23.2850
10079,77,160,-0.0013,0.0003,100.0,518.67,643.41,1587.33,1419.36,14.62,...,520.33,2388.17,8126.61,8.4783,0.03,395,2388,100.0,38.72,23.2431
10080,77,161,-0.0013,0.0004,100.0,518.67,643.02,1596.00,1411.87,14.62,...,520.95,2388.17,8124.02,8.4664,0.03,394,2388,100.0,38.75,23.2021
10081,77,162,-0.0027,0.0003,100.0,518.67,642.79,1593.81,1418.62,14.62,...,520.16,2388.21,8128.16,8.4543,0.03,396,2388,100.0,38.75,23.1712

In [10]:
# describe() 함수를 이용하면 DataFrame의 요약정보를 알 수 있다.
data[data['UnitNumber'] == 77].describe()

,UnitNumber,Cycle,Op_Setting_1,Op_Setting_2,Op_Setting_3,Sensor_1,Sensor_2,Sensor_3,Sensor_4,Sensor_5,...,Sensor_12,Sensor_13,Sensor_14,Sensor_15,Sensor_16,Sensor_17,Sensor_18,Sensor_19,Sensor_20,Sensor_21
count,162.0,162.000000,162.000000,162.000000,162.0,1.620000e+02,162.000000,162.000000,162.000000,1.620000e+02,...,162.000000,162.000000,162.000000,162.000000,1.620000e+02,162.000000,162.0,162.0,162.000000,162.000000
mean,77.0,81.500000,0.000163,-0.000061,100.0,5.186700e+02,642.494444,1587.483025,1405.063889,1.462000e+01,...,521.682099,2388.087531,8131.132160,8.425622,3.000000e-02,392.617284,2388.0,100.0,38.877901,23.335781
std,0.0,46.909487,0.002246,0.000278,0.0,1.368472e-12,0.354043,4.424731,6.066297,5.880154e-14,...,0.471057,0.051645,3.509906,0.027305,2.436143e-17,1.137371,0.0,0.0,0.127515,0.075753
min,77.0,1.000000,-0.005300,-0.000500,100.0,5.186700e+02,641.550000,1576.410000,1392.610000,1.462000e+01,...,520.160000,2387.980000,8122.130000,8.371700,3.000000e-02,390.000000,2388.0,100.0,38.560000,23.078100
25%,77.0,41.250000,-0.001575,-0.000300,100.0,5.186700e+02,642.230000,1584.185000,1400.092500,1.462000e+01,...,521.415000,2388.050000,8129.185000,8.404350,3.000000e-02,392.000000,2388.0,100.0,38.782500,23.286250
50%,77.0,81.500000,0.000100,-0.000100,100.0,5.186700e+02,642.505000,1587.655000,1404.940000,1.462000e+01,...,521.740000,2388.080000,8131.380000,8.425600,3.000000e-02,393.000000,2388.0,100.0,38.880000,23.331650
75%,77.0,121.750000,0.001600,0.000200,100.0,5.186700e+02,642.737500,1590.360000,1409.550000,1.462000e+01,...,522.040000,2388.120000,8133.200000,8.443175,3.000000e-02,393.000000,2388.0,100.0,38.977500,23.381200
max,77.0,162.000000,0.007200,0.000500,100.0,5.186700e+02,643.500000,1600.200000,1420.710000,1.462000e+01,...,522.790000,2388.240000,8139.140000,8.505600,3.000000e-02,396.000000,2388.0,100.0,39.180000,23.558500

#### 특정 칼럼 기준으로 다른 칼럼들 보기 (`groupby()`)
각 cycle 별로 Sensor_1의 평균을 보고 싶을 때<br>
Cycle별로 groupby시키고, 그 안에 있는 Sensor1을 불러와 평균을 구함.

In [11]:
# groupby() 함수를 이용하여 특정 Column 기준으로 묶을 수 있음.
data.groupby('Cycle')['Sensor_1'].mean()

Cycle
1      518.67
2      518.67
3      518.67
4      518.67
5      518.67
        ...
299    518.67
300    518.67
301    518.67
302    518.67
303    518.67
Name: Sensor_1, Length: 303, dtype: float64

[예제] 각 Unit 별로 남은 Cycle 횟수를 알고자 한다. RemainingCycle이라는 Column을 추가하고, 남은 Cycle횟수를 나타내라.

In [12]:
max_cycle = data.groupby('UnitNumber')['Cycle'].max().reset_index() # max_cycle을 DataFrame으로 만들기 위해 reset_index() 사용
max_cycle.rename(columns = {'Cycle' : 'MaxCycle'}, inplace = True)

max_cycle

    UnitNumber  MaxCycle
0            1        31
1            2        49
2            3       126
3            4       106
4            5        98
..         ...       ...
95          96        97
96          97       134
97          98       121
98          99        97
99         100       198

[100 rows x 2 columns]

In [13]:
# pd.merge()함수를 이용해 DataFrame을 합친다.
temp_df = pd.merge(data, max_cycle, on = 'UnitNumber', how = 'left')
# temp란 임의로 만든 변수
# merge() 속 on은 기준이 되는 Column을 의미
# merge() 속 how는 기준이 되는 DataFrame을 의미
data['RemainingCycle'] = temp_df['MaxCycle'] - data['Cycle']
data.head()

,UnitNumber,Cycle,Op_Setting_1,Op_Setting_2,Op_Setting_3,Sensor_1,Sensor_2,Sensor_3,Sensor_4,Sensor_5,...,Sensor_13,Sensor_14,Sensor_15,Sensor_16,Sensor_17,Sensor_18,Sensor_19,Sensor_20,Sensor_21,RemainingCycle
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,2388.03,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735,30
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,2388.06,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916,29
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,2388.03,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166,28
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,2388.05,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737,27
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,2388.03,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130,26